.LoginForm {

}

.login-image{
    height: 100px;
    width: 300px;
    padding-left: 80px;
    padding-top:10px
}

.new-link{
    font-size: 20px;
}

.form-style{
  text-align: center;
    gap:20px
}

p{
    color:rgb(255, 51, 0)
}