.Banner {
     width: 80%;
     height: 690px;
     background-color: #61dafb;
}

.banner-container{
     position: relative;
}
.customerimage{
     position: absolute;
     left:0;
     height:50%;
     width:50;
     top:70px;
     padding-left :250px;
     padding-top :26px
}